name: Backend (Node.js) CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    
    # Le decimos a GitHub que trabaje en la carpeta 'server'
    defaults:
      run:
        working-directory: ./server

    steps:
    - name: 1. Checkout (Descargar código)
      uses: actions/checkout@v3

    - name: 2. Setup Node.js v18
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: 3. Install Dependencies (npm install)
      run: npm install
      
    - name: 4. Run Tests & Coverage (Jest)
      run: npm run test:coverage
      env:
        # Añadimos variables de entorno FALSAS para que el test corra
        JWT_SECRET: "un-secreto-de-prueba-para-ci" 
        DB_USER: "test"
        DB_HOST: "test"
        DB_DATABASE: "test"
        DB_PASSWORD: "test"
        DB_PORT: "5432"